@font-face {
    font-family: 'IBM Plex Mono Bold';
    src: url('../fonts/IBMPlexMono-Bold.ttf') format('truetype');
}

body {
    background-color: black;
    color: #00FF00;
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding-top: 5vh;
}

p {
    margin-left: 2vw;
}

#mensagem {
    white-space: pre;
    font-size: 1.2em;
    line-height: 2;
    margin-left: 2vw;
}

input {
    background: black;
    color: #00FF00;
    border: none;
    font-family: 'IBM Plex Mono Bold', monospace;
    font-size: 1em;
    width: 50px;
    outline: none;
}